
@{ 
    Script.Require("jQuery_Jump");
}
@{
    //int mapCounter = System.Random.Next(0,1000);
    var mapid = "jquery_jump_" + Model.GetHashCode();// Html.FieldIdFor(m => Model.Longitude);//  Html.FieldIdFor(m => Model);// mapCounter;
    var lon = string.Format(System.Globalization.CultureInfo.InvariantCulture, "{0}", Model.Longitude);
    var lat = string.Format(System.Globalization.CultureInfo.InvariantCulture, "{0}", Model.Latitude);
}

<div id="@(mapid)" style="width:100%;height:400px;"></div>

<script>
    $(function () {
        $("#@(mapid)").jump({
            center: {
                lon: @(lon),
                lat: @(lat)
            },
            zoom: 14,
            plugins: {
                marker: {}
            }
        })
          .trigger('addMarker', {
              //content: "",
              location: { lon: @(lon), lat: @(lat) }
          });
    });
</script>

